body {
    color: yellow;
    background-color: rgb(38, 109, 240);
}

section {
    margin: 15px;
    padding: 15px;
    background-color:midnightblue;
}

#gridItemHeader {
    background-color: red;
    margin: 15px;
}

#navList {
    text-align: right;
}

ul {
    padding: 0.5rem;
    margin-bottom: 0;
    border:0;
}

ul li {
    text-decoration: none;
    list-style-type: none;
    padding: 0 0 15px 0;
    margin-right: 14px;
}

ul #linkContactUs{
    padding-bottom: 7px;
}