body {
    padding:0;
    margin:0;
    border:0;
}

/* Grid Layout for responsive design */

#gridItemMenu{grid-area: menu;}
#gridItemHeader{grid-area: header;}
#gridItemGameInfo{grid-area: game-info;}
#gridItemGame{grid-area: game;}
#gridItemName{grid-area: name; border: 1px solid white;}
#gridItemTimer{grid-area: timer; border: 1px solid white;}
#gridItemResults{grid-area: results; border: 1px solid white;}

.grid-container{
     display: grid;
     grid-gap: 10px;
     background-color: yellow;
     padding: 10px;
     width: 100%;
     margin: 0;
     overflow: hidden; 
     text-align: left;
}

.index-grid{
 grid-template-areas:
    'header' 
    'game-info' 
    'game';    
}

.index-grid-menuShow{
 grid-template-areas:
    'header header header header' 
    'menu game-info game-info game-info' 
    'game game game game'; 
 grid-template-columns: 80px 1fr;
}

.grid-game-info {
    grid-template-areas:
    'name'
    'results' 
    'timer';
    background-color: rgb(211, 51, 211);
    text-align: center;
}

#gridItemHeader{
    background-color: blue;
    
}
#gridItemGameInfo{
    background-color: rgb(233, 49, 156);
}
#gridItemGame{
    background-color: orange;
}
/* Header */


#menuButton {
    display: inline-block;

}

.logo{
    display: inline-block;
    
}


/* Navbar CSS */

#gridItemMenu{
    background-color: rgba(105, 105, 105, 0.589);
    width: 80px;
    display: none;
}

.insertMenu {
     grid-template-areas:
    'header header' 
    'menu game-info' 
    'menu game';
}

/* Clean up the code so you don't have an !important */
.show {
    grid-template-columns: 80px 1fr;
    left: 0!important;     
}

/* Generic CSS */

ul li{
    text-decoration: none;
    list-style-type: none;
}

ul{
    padding: 0.5rem;
}

/* Grid game information */
#topResultsWrapper, #gridItemTimerDisplay {
    display: none;
}

/* Frame */

#frame {
    width: 95vw;
    height: 500px;
    margin:0;
    border:0;
}

.iframe{
    width: 100%;
    margin:0;
    border:0;
    padding:0;
}

/* Footer */
footer{
    display: none;
}