/* Grid Layout for responsive design */

#gridItemMenu{grid-area: menu;}
#gridItemHeader{grid-area: header;}
#gridItemGameInfo{grid-area: game-info;}
#gridItemGame{grid-area: game;}

#grid-container{
     display: grid;
     grid-template-areas:
    'header header header header'
    'menu game-info game-info game-info'
    'menu game game game';
     grid-gap: 10px;
     background-color: yellow;
     padding: 10px;
     columns: 100px 1fr 1fr 1fr;
 
}

#gridItemMenu{
    background-color: blue;
    width: 80px;
    position:absolute;
    left: -150px;
    top:150px;
}

#gridItemHeader{
    background-color: green;
}
#gridItemGameInfo{
    background-color: rgb(173, 173, 192);
}
#gridItemGame{
    background-color: orange;
}

/* Navbar CSS */

#navList {
    height: 20vh;
    width: 100px;
    background-color: green;
}