body {
    padding:0;
    margin:0;
    border:0;
}

/* Grid Layout for responsive design */

#gridItemMenu{grid-area: menu;}
#gridItemHeader{grid-area: header;}
#gridItemGameInfo{grid-area: game-info;}
#gridItemGame{grid-area: game;}

#grid-container{
     display: grid;
     grid-template-areas:
    'header'
    'game-info'
    'game';
     grid-gap: 10px;
     background-color: yellow;
     padding: 10px;
     width: 100vw;
     margin: 0;
     overflow: hidden;
 
}

#gridItemMenu{
    background-color: green;
    width: 80px;
    position:absolute;
    left: -150px;
    top:150px;
}

#gridItemHeader{
    background-color: blue;
    
}
#gridItemGameInfo{
    background-color: rgb(233, 49, 156);
}
#gridItemGame{
    background-color: orange;
}
/* Header */


#menuButton {
    display: inline-block;

}

.logo{
    display: inline-block;
    
}


/* Navbar CSS */

#navList {
    height: 20vh;
    width: 100px;
    background-color: green;
}

/* Frame */

#frame {
    width: 95vw;
    height: 500px;
    margin:0;
    border:0;
}

#iframe{
    width: 95vw;
    height: 500px;
    margin:0;
    border:0;
    padding:0;
}

/* Footer */
footer{
    display: none;
}