/*Card grid names*/
#card1 { grid-area: pair1a; }
#card2 { grid-area: pair1b; }
#card3 { grid-area: pair2a; }
#card4 { grid-area: pair2b; }
#card5 { grid-area: pair3a; }
#card6 { grid-area: pair3b; }
#card7 { grid-area: pair4a; }
#card8 { grid-area: pair4b; }

/* Grid settings */
.card-grid-container {
  display: grid;
  grid-template-areas:
    'pair1a pair1b'
    'pair2a pair2b'
    'pair3a pair3b'
    'pair4a pair4b'
    ;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2vh;
    background-color: #929292;
    text-align: center;
    padding: 2vh;
    margin: 0;
}

.card-grid-container .eight-cards {
   color: white;
    padding: 10px;
    height: 16vh;
    text-align: center;   
}

.card-grid-container .sixteen-cards {
   color: white;
    padding: 10px;
    height: 7vh;
    text-align: center;   
}

/* Individual CSS */

.pair1{
    background-color: red;
}
.pair2{
    background-color: blue;
}
.pair3{
    background-color: purple;
}
.pair4{
    background-color:yellow;
}






.showCard {
  background-color: green;
}

#card1,
#card2,
#card3,
#card4,
#card5,
#card6,
#card7,
#card8 {
   display: inline-block;    
}

