body {
    color: yellow;
    background-color: rgb(38, 109, 240);
}

.content {
    margin: 15px;
    padding: 24px;
    background-color:midnightblue;
}

/* Header */
h1{
    text-align: center;
}

#info-text{
    text-align: left;
    margin: 24px 0 ;
}

#submitButton{
    text-align: center;
}

.btn-styling {
    color: yellow;
    background-color: rgb(38, 109, 240);
    display: inline-block;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid yellow;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-styling a{
    color: yellow;
}

.btn-styling:active, .btn-styling:hover {
    color: yellow;
    background-color: blue;
    font-weight: 600;
}

#successMessage {
    display: none;
    text-align: center;
}

#successMessage h1, #successMessage h4 {
    margin-bottom: 32px;
}


/* ****************Help Page****************** */
#info-text-help{
    text-align: center;
    margin: 24px 0 ;
}

#info-text-help h5{
    font-size: 1.25rem;
}

#info-text-help a {
    color: whitesmoke;
}
#help {
    text-align: center;
}

.instruction-card {
    background-color: skyblue;
    border: 1px solid yellow;
    border-radius: 25px;
    color: black;
    margin-bottom: 24px;
}

.instruction-card:last-child{
    margin-bottom:8px;
}

.instruction-text{
    padding:16px;
    margin-bottom: 0;
}


/* Landscape for mobile */

@media screen and (min-width: 768px){

.content{
    padding: 24px 32px;

}

/* help */
.instruction-text {
    padding: 16px 32px;
    font-size: 24px;
}

.instruction-header{
    font-size: 2rem;
}

/* Contact Page */
#contactForm h1, #help h1{
    font-size: 4.5rem;
}

#info-text, #info-text-help h5{
    font-size: 2rem;
    text-align: center;
}

.form-group label {
    font-size: 1.75rem;
}

.form-group input, .form-control {
    font-size: 1.35rem;
}

.btn-styling{
    font-size: 1.75rem;
    margin-top: 8px;
}

}